.texto-c {
    font-size:36px;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background-color:#FFF;
    background-image: -webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
    background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  }

  input{
    color:whitesmoke;
    background-color: gray;
  }
.enviar{
    background-color: #1a6215;
    color:antiquewhite;
}
.apagar{
    background-color: #af0821;
    color:antiquewhite;
}
body{
    background-color: #222222;
    color:snow;
}
.link{
    color:aqua;
}